{##
 # Modules main section list
 #
 # @ListChild (list="itemsList.module.install.columns.module-description-section", weight="40")
 # @ListChild (list="itemsList.module.sales-channels.columns.module-description-section", weight="40")
 # @ListChild (list="itemsList.module.purchased.columns.module-description-section", weight="40")
 #}
{% if this.isModuleUpdateAvailable(this.module) %}
  <div class="note version upgrade">
    {{ t('Installed version') }}:&nbsp;{{ this.getModuleVersion(this.getModuleInstalled(this.module)) }}&nbsp;({{ t('outdated') }})<br />
    <a href="{{ url('upgrade', '', {'mode': 'install_updates'}) }}">{{ t('Update module') }}</a>
  </div>
{% endif %}
