<xlite-wizard-progress inline-template :step="step" :steps="steps" :landmarks="{{ this.getLandmarks() | json_encode }}" :current-step="currentStep" :last-product="lastProduct">
  <div class="onboarding-wizard-progress" v-data='{"progress": {{ this.getPercentage() }} }'>
    <div class="percentage" v-text="this.progress + '%'" v-if="!isCurrentStep('intro')" transition="fade-in-out">{{ this.getPercentage() ~ '%' }}</div>
    <div class="bar">
      <div class="landmarks">
        {% for step in this.getLandmarks() %}
          <div class="landmark landmark-{{ step.index }}" :class="{{ 'landmarkClass.' ~ step.index }}" @click="goToStep('{{ step.index }}')" tabindex="-1">
            {{ svg(step.image)|raw }}
            <span class="landmark-text" v-if="isCurrentStep('intro')" transition="fade-in-out">{{ t(step.name) }}</span>
          </div>
        {% endfor %}
      </div>
      <div class="progress-line">
        <div class="progress-line-filled" style="width: {{ this.getPercentage() ~ '%' }}" :style="barStyle"></div>
      </div>
    </div>
    <div class="finish-mark" :class="finishClass" v-if="!isCurrentStep('intro')" transition="fade-in-out">
      {{ svg('modules/XC/Onboarding/images/ok-mark.svg')|raw }}
    </div>
  </div>
</xlite-wizard-progress>